<div class="recipe-list">
  <div class="recipe-cards"></div>
  <div class="pagination-btns">
    <div class="back-btns">
      <button class="pagination-btn arrow-btn back-arrow-btn-js">
         <div class="left-arrow-icon double-arrow">
           <svg class="icon-double-arrow-one" width="24" height="24">
          <use href="../../img/icon/icon.svg#icon-small-left"></use>
        </svg>
        <svg class="icon-double-arrow-two" width="24" height="24">
          <use href="../../img/icon/icon.svg#icon-small-left"></use>
        </svg>
         </div>
        </svg></button
      ><button class="pagination-btn arrow-btn back-arrow-btn-js">
        <svg class="left-arrow-icon" width="24" height="24">
          <use href="../../img/icon/icon.svg#icon-small-left"></use>
        </svg>
      </button>
    </div>
    <div class="range-btns"></div>
    <div class="forward-btns">
      <button class="pagination-btn arrow-btn forward-arrow-btn-js">
       <svg class="right-arrow-icon" width="24" height="24">
          <use href="../../img/icon/icon.svg#icon-small-right"></use>
        </svg>
       </button
      ><button class="pagination-btn arrow-btn forward-arrow-btn-js">
        <div class="right-arrow-icon double-arrow">
          <svg class="icon-double-arrow-one" width="24" height="24">
            <use href="../../img/icon/icon.svg#icon-small-right"></use></svg
          ><svg class="icon-double-arrow-two" width="24" height="24">
            <use href="../../img/icon/icon.svg#icon-small-right"></use>
          </svg>
        </div>
      </button>
    </div>
  </div>
</div>
