<div class="recipe-list">
  <div class="recipe-cards"></div>
  <div class="pagination-btns">
    <div class="back-btns">
      <button class="pagination-btn arrow-btn back-arrow-btn-js"><<</button
      ><button class="pagination-btn arrow-btn back-arrow-btn-js"><</button>
    </div>
    <div class="range-btns"></div>
    <div class="forward-btns">
      <button class="pagination-btn arrow-btn forward-arrow-btn-js">></button
      ><button class="pagination-btn arrow-btn forward-arrow-btn-js">>></button>
    </div>
  </div>
</div>
