<!-- @format -->
<div class="backdrop is-hidden">
	<div class="recipe-adv">
		<svg class="recipe-close">
			<use href="./img/icon/icon.svg#icon-close"></use>
		</svg>
		<h2 class="recipe-adv-name">BANANA PANCAKES</h2>
		<div
			class="recipe-adv-img"
			style="
				background: linear-gradient(0deg, rgba(5, 5, 5, 0.4) 0%, rgba(5, 5, 5, 0.4) 100%),
					url('./img/Spinach_quinoa_patties_01.jpg'),
					lightgray -34.64px -20px / 109.993% 120% no-repeat;
			"
		></div>
		<div class="recipe-block">
			<ul class="recipe-tags">
				<li class="recipe-tag">#Breakfast</li>
				<li class="recipe-tag">#Desert</li>
				<li class="recipe-tag">#Sweet</li>
			</ul>
			<div class="recipe-adv-item-rating">
				<span class="recipe-adv-item-rating-num">{=$rating}</span>
				<ul class="recipe-item-rating-stars">
					<li class="recipe-item-rating-star">
						<svg class="stars-full">
							<use href="./img/icon/icon.svg#icon-star"></use>
						</svg>
					</li>
					<li class="recipe-item-rating-star">
						<svg class="stars-full">
							<use href="./img/icon/icon.svg#icon-star"></use>
						</svg>
					</li>
					<li class="recipe-item-rating-star">
						<svg class="stars-full">
							<use href="./img/icon/icon.svg#icon-star"></use>
						</svg>
					</li>
					<li class="recipe-item-rating-star">
						<svg class="stars-full">
							<use href="./img/icon/icon.svg#icon-star"></use>
						</svg>
					</li>
					<li class="recipe-item-rating-star">
						<svg class="stars-full">
							<use href="./img/icon/icon.svg#icon-star"></use>
						</svg>
					</li>
				</ul>
				<span class="recipe-adv-item-time">40 min</span>
			</div>
		</div>
		<div class="recipe-ingradient-block">
			<ul class="recipe-ingradient">
				<li class="recipe-ingradient-text">Banana</li>
				<li class="recipe-ingradient-text">1 large</li>
			</ul>
			<ul class="recipe-ingradient">
				<li class="recipe-ingradient-text">Eggs</li>
				<li class="recipe-ingradient-text">2 medium</li>
			</ul>
			<ul class="recipe-ingradient">
				<li class="recipe-ingradient-text">Oil</li>
				<li class="recipe-ingradient-text">2 medium</li>
			</ul>
			<ul class="recipe-ingradient">
				<li class="recipe-ingradient-text">Pecan nuts</li>
				<li class="recipe-ingradient-text">25 tsp</li>
			</ul>
			<ul class="recipe-ingradient">
				<li class="recipe-ingradient-text">Baking Powder</li>
				<li class="recipe-ingradient-text">Pinch</li>
			</ul>
			<ul class="recipe-ingradient">
				<li class="recipe-ingradient-text">Raspberries</li>
				<li class="recipe-ingradient-text">125 g</li>
			</ul>
		</div>
		<p class="recipe-text">
			Mash the ripe banana in a medium mixing bowl. Add the egg and whisk together until well
			combined. Add the flour, baking powder, cinnamon (if using), and salt, and stir until
			just combined.Heat a non-stick skillet or griddle over medium heat and add the vegetable
			oil or melted butter. Scoop the batter onto the skillet or griddle using a 1/4 cup
			measure, and cook for 2-3 minutes on each side, or until the pancakes are golden brown
			and cooked through. Serve warm with your favorite toppings such as maple syrup, sliced
			bananas, or whipped cream.
		</p>
		<div class="recipe-button">
			<load
				="./component/button.html"
				class="recipe-button-el"
				type="button"
				name-button="Add to favorite"
			/>
			<load
				="./component/button.html"
				class="recipe-button-el"
				type="button"
				name-button="Give a rating"
			/>
		</div>
	</div>
</div>
