<!-- @format -->

<section class="favorites container">
	<div class="favorites_container"></div>
	<div class="cards_favorites">
		<ul class="favorites_categories"></ul>
		<ul class="list_cards_favorites js-all-recipe-cards">
			<div class="not_favorites">
				<svg class="favorites_elem_svg" width="68" height="58">
					<use href="./img/icon/icon.svg#icon-elements"></use>
				</svg>
				<p class="favorites_text">
					It appears that you haven't added any recipes to your favorites yet. To get
					started, you can add recipes that you like to your favorites for easier access
					in the future.
				</p>
			</div>
		</ul>
		<div class="pagination-buttons"></div>
	</div>
</section>
