<div class="filter-container">
  <form class="filters-search-form" id="search-form">
    <div class="filter-search-container">
      <label class="filters-lable" for="input-search-field">Search</label>
      <div class="filter-serarch-thumb">
        <input
          id="input-search-field"
          class="filter-search-field"
          type="text"
          name="searchQuery"
          autocomplete="off"
          placeholder="Enter Text"
        />

        <button class="search-btn" type="submit">
          <svg class="filter-icon-search">
            <use href="./img/icon/icon.svg#icon-search"></use>
          </svg>
        </button>
      </div>
    </div>

    <div class="filter-time-container">
      <label class="filters-lable" for="time-input">Time</label>
      <div class="time-dropdown">
        <input
          id="time-input"
          class="time-text-box"
          type="text"
          placeholder="Time"
          readonly
        />
        <div class="filter-time-dropbox">
          <ul class="filter-time-list">
            <li>5 min</li>
            <li>10 min</li>
            <li>15 min</li>
            <li>20 min</li>
            <li>30 min</li>
            <li>25 min</li>
            <li>35 min</li>
            <li>40 min</li>
            <li>45 min</li>
            <li>50 min</li>
            <li>55 min</li>
            <li>60 min</li>
            <li>65 min</li>
            <li>70 min</li>
            <li>75 min</li>
            <li>80 min</li>
            <li>85 min</li>
            <li>90 min</li>
            <li>95 min</li>
            <li>100 min</li>
            <li>105 min</li>
            <li>110 min</li>
            <li>115 min</li>
            <li>120 min</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="filter-country-container">
      <label class="filters-lable" for="country-input">Area</label>
      <div class="country-dropdown">
        <input
          id="country-input"
          class="country-text-box"
          type="text"
          placeholder="Country"
          readonly
        />
        <div class="filter-country-dropbox">
          <ul class="filter-country-list">
            <li>Ukraine</li>
            <li>Ukraine</li>
            <li>Ukraine</li>
            <li>Ukraine</li>
            <li>Ukraine</li>
            <li>Ukraine</li>
            <li>Ukraine</li>
            <li>Ukraine</li>
            <li>Ukraine</li>
            <li>Ukraine</li>
            <li>Ukraine</li>
            <li>Ukraine</li>
            <li>Ukraine</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="filter-ingr-container">
      <label class="filters-lable" for="ingr-input">Ingredients</label>
      <div class="ingr-dropdown">
        <input
          id="ingr-input"
          class="ingr-text-box"
          type="text"
          placeholder="Ingredient"
          readonly
        />
        <div class="filter-ingr-dropbox">
          <ul class="filter-ingr-list">
            <li>Tomato</li>
            <li>Tomato</li>
            <li>Tomato</li>
            <li>Tomato</li>
            <li>Tomato</li>
            <li>Tomato</li>
            <li>Tomato</li>
            <li>Tomato</li>
            <li>Tomato</li>
          </ul>
        </div>
      </div>
    </div>
  </form>
</div>
