<!-- Hero section -->
<section class="hero-section-main">
  <div class="hero-container-main">
    <div class="left-container-main">
      <h1 class="hero-title-main">
        Learn to Cook
        <span class="hero-title-main-highlight">Tasty Treats'</span>
        Customizable Masterclass
      </h1>
      <p class="hero-desc-main">
        TastyTreats - Customize Your Meal with Ingredient Options and
        Step-by-Step Video Guides.
      </p>
      <load
        src="partials/component/button.html"
        class="hero-btn-main"
        type="button"
        name-button="Order now"
        id="modal-order-opener"
      />
    </div>
    <div class="right-container">
      <div class="slide-container">
        <div class="dish-slider">
          <div class="swiper-wrapper"></div>
          <div class="swiper-pagination" style="position: static"></div>
        </div>
      </div>
    </div>
  </div>
</section>
