<!-- @format -->

<!-- Hero section -->
<section class="hero-section container">
  <div class="hero-container">
    <div class="left-container">
      <h1 class="hero-title">
        Learn to Cook
        <span class="hero-title-highlight">Tasty Treats'</span>
        Customizable Masterclass
      </h1>
      <p class="hero-desc">
        TastyTreats - Customize Your Meal with Ingredient Options and
        Step-by-Step Video Guides.
      </p>
      <load
        src="partials/component/button.html"
        class="hero-btn"
        type="button"
        name-button="Order now"
        id="modal-order-opener"
      />
    </div>
    <!-- <div class="right-container"> -->
    <div class="slide-container">
      <div class="dish-slider">
        <div class="swiper-wrapper"></div>

        <!-- style="left: 64%; bottom: inherit; text-align: inherit" -->
      </div>
      <div class="swiper-pagination" id="swiper-id"></div>
      <!-- style="position: relative; margin-top: 12px; left: -110px" -->
    </div>
  </div>
  <!-- </div> -->
</section>
