<section class="slide-container">
  <div class="dish-slider">
    <div class="swiper-wrapper"></div>

    <div class="swiper-pagination"></div>
    <!-- Hero section -->
    <section class="hero-section">
      <div class="hero-container">
        <div class="left-container">
          <h1 class="hero-title">
            Learn to Cook
            <span class="hero-title-highlight">Tasty Treats'</span>
            Customizable Masterclass
          </h1>
          <p class="hero-desc">
            TastyTreats - Customize Your Meal with Ingredient Options and
            Step-by-Step Video Guides.
          </p>
          <load
            src="partials/component/button.html"
            class="hero-btn"
            type="button"
            name-button="Order now"
          />
        </div>
        <div class="right-container"></div>
      </div>
    </section>
  </div>
</section>
