<!-- @format -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Tasty Treats</title>
    <meta name="description" content="Goit-command project" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.1.0/modern-normalize.min.css"
      integrity="sha512-wpPYUAdjBVSE4KJnH1VR1HeZfpl1ub8YT/NKx4PuQ5NmX2tKuGu6U/JRp5y+Y8XG2tV+wKQpNHVUX03MfMFn9Q=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="../css/modal-order.css" />
  </head>
  <body>
    <div class="backdrop">
      <div class="modal-order-container">
        <div class="modal-button-close" data-modal-close>
          <svg class="modal-icon-close">
            <use href="../img/icon/icon.svg#icon-close"></use>
          </svg>
        </div>
        <h1 class="modal-order-title">Order now</h1>

        <form class="modal-order-form">
          <label class="modal-order-label" for="modal-order-name"
            >Name
            <div class="input-wrap">
              <input
                class="modal-order-input"
                type="text"
                id="modal-order-name"
              />
            </div>
          </label>
          <label class="modal-order-label" for="modal-order-tel"
            >Phone number
            <div class="input-wrap">
              <input
                class="modal-order-input"
                type="tel"
                id="modal-order-tel"
              />
            </div>
          </label>

          <label class="modal-order-label" for="modal-order-mail"
            >Email
            <div class="input-wrap">
              <input
                class="modal-order-input"
                type="mail"
                id="modal-order-mail"
              />
            </div>
          </label>
          <label class="modal-order-label" for="modal-order-comment"
            >Comment
            <div class="modal-order-textarea">
              <textarea
                class="modal-order-input"
                id="modal-order-comment"
              ></textarea>
            </div>
          </label>
          <button class="modal-button" type="submit">Send</button>
        </form>
      </div>
    </div>
  </body>
</html>
