<!-- @format -->

<div class="backdrop-modal is-hidden" id="modal-order-js">
  <div class="modal-order-container">
    <div class="modal-button-close" id="modal-order-closer">
      <svg class="modal-icon-close">
        <use href="./img/icon/icon.svg#icon-close"></use>
      </svg>
    </div>
    <h1 class="modal-order-title">Order now</h1>

    <form class="modal-order-form">
      <label class="modal-order-label" for="modal-order-name"
        >Name
        <div class="input-wrap">
          <input
            required
            name="name"
            class="modal-order-input"
            type="text"
            id="modal-order-name"
            pattern="^[a-zA-Z]+$"
            title="Username should only contain lowercase letters. e.g. john"
          />
        </div>
      </label>
      <label class="modal-order-label" for="modal-order-tel"
        >Phone number
        <div class="input-wrap">
          <input
            required
            name="phone"
            class="modal-order-input"
            type="tel"
            id="modal-order-tel"
          />
        </div>
      </label>

      <label class="modal-order-label" for="modal-order-mail"
        >Email
        <div class="input-wrap">
          <input
            required
            name="email"
            class="modal-order-input"
            type="mail"
            id="modal-order-mail"
            pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$"
          />
        </div>
      </label>
      <label class="modal-order-label" for="modal-order-comment"
        >Comment
        <div class="modal-order-textarea">
          <textarea
            name="comment"
            class="modal-order-input"
            id="modal-order-comment"
          ></textarea>
        </div>
      </label>
      <!-- <button class="modal-button" type="submit">Send</button> -->
      <load
        src="./component/button.html"
        class="recipe-button-el modal-submit-button-order green-button"
        type="submit"
        name-button="Send"
      />
    </form>
  </div>
</div>
