<div class="popular main">
  <h2 class="popular-group-title">Popular recipes</h2>
  <ul class="popular-list">
    <li class="popular-item">
      <div class="popular-wraper">
        <img
          class="popular-img"
          src="../img/populars/french_omelette.png"
          alt="French omelette"
          loading="lazy"
          height="64"
          width="64"
        />
      </div>
      <div class="popular-containet-description">
        <h3 class="popular-title">French omelette</h3>
        <p class="popular-description">
          A French omelette is a simple yet elegant dish made with whisked eggs,
          butter, salt, and pepper, cooked gently until light and fluffy, then
          folded over and served for a comforting and refined meal any time of
          day.
        </p>
      </div>
    </li>

    <li class="popular-item">
      <div class="popular-wraper">
        <img
          class="popular-img"
          src="../img/populars/squash_linguine.png"
          alt="Squash linguine"
          loading="lazy"
          height="64"
          width="64"
        />
      </div>
      <div class="popular-containet-description">
        <h3 class="popular-title">Squash linguine</h3>
        <p class="popular-description">
          Squash linguine is a flavorful and nutritious pasta alternative made
          with spiralized squash noodles, paired with a variety of delicious
          sauces and toppings for a satisfying and healthy meal.
        </p>
      </div>
    </li>

    <li class="popular-item">
      <div class="popular-wraper">
        <img
          class="popular-img"
          src="../img/populars/baked_salmon.png"
          alt="Baked Salmon"
          loading="lazy"
          height="64"
          width="64"
        />
      </div>
      <div class="popular-containet-description">
        <h3 class="popular-title">Baked Salmon</h3>
        <p class="popular-description">
          Baked salmon is a flavorful and nutritious dish featuring tender and
          moist fillets seasoned with a blend of lemon juice, garlic, and olive
          oil.
        </p>
      </div>
    </li>

    <li class="popular-item">
      <div class="popular-wraper">
        <img
          class="popular-img"
          src="../img/populars/sugar_pie.png"
          alt="Sugar pie"
          loading="lazy"
          height="64"
          width="64"
        />
      </div>
      <div class="popular-containet-description">
        <h3 class="popular-title">Sugar pie</h3>
        <p class="popular-description">
          Sugar pie is a traditional Canadian dessert made with a rich and
          buttery filling of brown sugar, cream, and flour, poured into a flaky
          pastry crust and baked until golden brown.
        </p>
      </div>
    </li>
  </ul>
</div>
