<!-- @format -->

<div class="backdrop-modal is-hidden" id="modal-rating-js">
	<div class="modal-order-container">
		<div class="modal-button-close" id="modal-rating-closer">
			<svg class="modal-icon-close">
				<use href="./img/icon/icon.svg#icon-close"></use>
			</svg>
		</div>
		<h2 class="modal-rating-title">Rating</h2>

		<form class="modal-order-form">
			<div class="modal-rating-icon">
				<span class="count-rating">0.0</span>
				<svg class="modal-icon-star" width="24" height="24">
					<use href="./img/icon/icon.svg#icon-star"></use>
				</svg>
				<svg class="modal-icon-star" width="24" height="24">
					<use href="./img/icon/icon.svg#icon-star"></use>
				</svg>
				<svg class="modal-icon-star" width="24" height="24">
					<use href="./img/icon/icon.svg#icon-star"></use>
				</svg>
				<svg class="modal-icon-star" width="24" height="24">
					<use href="./img/icon/icon.svg#icon-star"></use>
				</svg>
				<svg class="modal-icon-star" width="24" height="24">
					<use href="./img/icon/icon.svg#icon-star"></use>
				</svg>
			</div>

			<div class="input-wrap">
				<input class="modal-order-input" type="text" placeholder="Enter email" />
			</div>
			<load
				="./component/button.html"
				class="recipe-button-el modal-submit-button"
				type="submit"
				name-button="Send"
			/>
		</form>
	</div>
</div>
