<div class="backdrop-modal is-hidden" id="modal-rating-js">
  <div class="modal-order-container rating-container">
    <div class="modal-button-close" id="modal-rating-closer">
      <svg class="modal-icon-close">
        <use href="./img/icon/icon.svg#icon-close"></use>
      </svg>
    </div>
    <h2 class="modal-rating-title">Rating</h2>

    <form class="modal-order-form rating-form">
      <div class="modal-rating-icon">
        <span class="count-rating">0.0</span>
        <label class="star-input">
          <svg class="modal-icon-star" width="24" height="24">
            <use href="./img/icon/icon.svg#icon-star"></use>
          </svg>
          <input
            class="radio-button"
            type="radio"
            id="rating-1"
            name="rate"
            value="1"
          />
        </label>
        <label class="star-input">
          <svg class="modal-icon-star" width="24" height="24">
            <use href="./img/icon/icon.svg#icon-star"></use>
          </svg>
          <input
            class="radio-button"
            type="radio"
            id="rating-2"
            name="rate"
            value="2"
          />
        </label>
        <label class="star-input">
          <svg class="modal-icon-star" width="24" height="24">
            <use href="./img/icon/icon.svg#icon-star"></use>
          </svg>
          <input
            class="radio-button"
            type="radio"
            id="rating-3"
            name="rate"
            value="3"
          />
        </label>
        <label class="star-input">
          <svg class="modal-icon-star" width="24" height="24">
            <use href="./img/icon/icon.svg#icon-star"></use>
          </svg>
          <input
            class="radio-button"
            type="radio"
            id="rating-4"
            name="rate"
            value="4"
          />
        </label>
        <label class="star-input">
          <svg class="modal-icon-star" width="24" height="24">
            <use href="./img/icon/icon.svg#icon-star"></use>
          </svg>
          <input
            class="radio-button"
            type="radio"
            id="rating-5"
            name="rate"
            value="5"
          />
        </label>
      </div>

      <input
        class="modal-order-input"
        type="email"
        placeholder="Enter email"
        name="email"
        required
        pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$"
      />

      <load
        src="./component/button.html"
        class="modal-submit-button-rating"
        type="submit"
        name-button="Send"
        id="modal-submit-button-rating"
      />
    </form>
  </div>
</div>
