<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/recipe-slider.css" />
    <script type="module" src="../js/recipe-slider.js"></script>
    <title>Document</title>
  </head>
  <body>
    <div class="recipe-thumb">
      <div class="recipe-cards">
        <form>
          <label>Page</label>
          <input class="page" type="text" />
          <label>TotalPages</label>
          <input class="totalPages" type="text" />
          <button class="check">Push me</button>
        </form>
      </div>
      <div class="pagination-btns">
        <div class="back-btns">
          <button class="btn arrow-btn back-arrow-btn-js"><<</button>
          <button class="btn arrow-btn back-arrow-btn-js"><</button>
        </div>
        <div class="range-btns"></div>
        <div class="forward-btns">
          <button class="btn arrow-btn forward-arrow-btn-js">></button>
          <button class="btn arrow-btn forward-arrow-btn-js">>></button>
        </div>
      </div>
    </div>
  </body>
</html>
