/** @format */

.favorites_categories {
  gap: 12px;
  width: 338px;
}

.favorites_container {
  border-radius: 15px;
  margin: auto;
  width: 335px;
  height: 516px;
  margin-bottom: 40px;
}

.favorites_container {
  background-image: url(../img/favorites/mobile/card.jpg);
  background-size: cover;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .favorites_container {
    background-image: url(../img/favorites/mobile/card@2x.jpg);
  }
}

.favorites_img {
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  max-width: 100%;
  height: auto;
  display: flex;
  margin-bottom: 40px;
}

.hide {
  display: none !important;
}

.not_favorites {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 329px auto 249px;
}

.favorites_elem_svg {
  margin: auto;
}

.favorites_text {
  margin-top: 24px;
  max-width: 335px;
  text-align: center;
  font-family: Inter;
  background-color: transparent;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  color: var(--color-black-font);
}

.favorites_btn {
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
}

.favorites_categories {
  display: flex;
}

.pagination-buttons {
  display: flex;
  justify-content: center;
  padding: 40px 0;
}

.forward-buttons,
.back-buttons {
  display: flex;
  gap: 4px;
}

.back-buttons.additional button {
  background-color: var(--color-black-font);
  fill: var(--color-pagintion);
}

.pagination-btn {
  cursor: pointer;
}

.range-btns.cont {
  margin-left: 14px;
  margin-right: 14px;
}

.pagination-btn.active {
  background-color: var(--color-green-button);
}

@media only screen and (max-width: 767px) {
  .list_cards_favorites {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-top: 24px;
  }

  .favorites_text {
    width: 335px;
  }
}
@media only screen and (min-width: 768px) {
  .favorites_elem_svg {
    width: 97px;
    height: 83px;
  }

  .favorites_text {
    margin-top: 32px;
    max-width: 481px;
    font-size: 16px;
    line-height: 24px;
  }

  .favorites {
    margin-bottom: 100px;
  }

  .favorites_container {
    width: 704px;
    height: 356px;
    margin-bottom: 64px;
  }

  .favorites_container {
    background-image: url(../img/favorites/tablet/card.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .favorites_container {
      background-image: url(../img/favorites/tablet/card@2x.jpg);
    }
  }

  .favorites_categories {
    gap: 15px;
    width: 704px;
  }

  .favorites_img {
    width: 704px;
    height: 356px;
    margin-bottom: 64px;
  }

  .not_favorites {
    margin-top: 0;
  }

  .list_cards_favorites {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding: 0;
    max-width: 768px;
    margin: 32px auto 0;
  }

  .pagination-buttons {
    display: flex;
    padding: 64px 0;
  }

  .forward-buttons,
  .back-buttons {
    gap: 8px;
  }

  .range-btns.cont {
    margin-left: 24px;
    margin-right: 24px;
  }
}
@media only screen and (min-width: 1280px) {
  .favorites_container {
    width: 1080px;
  }

  .favorites_container {
    background-image: url(../img/favorites/desktop/card.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .favorites_container {
      background-image: url(../img/favorites/desktop/card@2x.jpg);
    }
  }

  .favorites_categories {
    width: 1080px;
  }

  .favorites_img {
    width: 1080px;
  }

  .list_cards_favorites {
    row-gap: 32px;
    max-width: 1280px;
  }
}

.main-button.category-btn {
  color: var(--color-font-select);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25;
  padding: 14px 18px;
  border-radius: 15px;
  border: 1px solid var(--color-border-select);
}

.favorites_categories {
  list-style: none;
  overflow-x: scroll;
  overflow-y: hidden;
  background-color: transparent;
}

.favorites_categories::-webkit-scrollbar,
.favorites_categories::-webkit-scrollbar-thumb,
.favorites_categories::-webkit-scrollbar-track {
  width: 0;
  height: 0;
  color: transparent;
  background-color: transparent;
}
