/** @format */

.filter-container {
  padding-top: 15px;
}

.filters-search-form {
  display: flex;
  margin-bottom: 14px;
}

@media screen and (max-width: 767px) {
  .filters-search-form {
    gap: 14px;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) {
  .filters-search-form {
    gap: 16px;
    flex-wrap: wrap;
  }
}

.filters-lable {
  color: var(--color-font-select-text);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  line-height: 1.3;
  margin-bottom: 10px;
}

/* search container */

.filter-search-container {
  display: flex;
  flex-direction: column;
}

.filter-serarch-thumb {
  position: relative;
}

.filter-search-field {
  width: 278px;
  padding: 14px 14px 14px 48px;
  border-radius: 15px;
  border: 1px solid var(--color-border-select);
  background-color: transparent;
  color: var(--color-filters-text);
}

.filter-search-field:focus {
  outline: none;
}

@media screen and (max-width: 767px) {
  .filter-search-field {
    width: 335px;
  }
}

.filter-icon-search {
  border: none;
  padding: 0;
  line-height: 0;
  display: block;
  top: 15px;
  left: 18px;
  position: absolute;
  width: 18px;
  height: 18px;
  fill: var(--color-filters-text);
}

.active-icon-serach {
  fill: var(--color-green-button);
}

.filter-search-close-btn {
  top: 15px;
  right: 18px;
  position: absolute;
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
}

.icon-close-search {
  stroke: var(--color-font-popular-recipe);
  width: 16px;
  height: 16px;
}

.is-hidden {
  display: none;
}

.filter-time-container,
.filter-country-container,
.filter-ingr-container {
  display: flex;
  flex-direction: column;
}

.time-dropdown {
  position: relative;
  width: 125px;
  height: 48px;
  border: none;
}

.country-dropdown {
  position: relative;
  width: 141px;
  height: 48px;
}

.ingr-dropdown {
  position: relative;
  width: 188px;
  height: 48px;
  border: transparent;
}

@media screen and (max-width: 767px) {
  .time-dropdown {
    width: 160px;
  }

  .country-dropdown {
    width: 161px;
  }
}

.time-dropdown::before {
  content: '';
  position: absolute;
  top: 18px;
  right: 18px;
  z-index: 200;
  width: 8px;
  height: 8px;
  border: 2px solid var(--color-font-select-text);
  border-top: 2px solid transparent;
  border-right: 2px solid transparent;
  transform: rotate(-45deg);
  transition: 0.5s;
  pointer-events: none;
}

.country-dropdown::before {
  content: '';
  position: absolute;
  top: 18px;
  right: 18px;
  z-index: 200;
  width: 8px;
  height: 8px;
  border: 2px solid var(--color-font-select-text);
  border-top: 2px solid transparent;
  border-right: 2px solid transparent;
  transform: rotate(-45deg);
  transition: 0.5s;
  pointer-events: none;
}

.ingr-dropdown::before {
  content: '';
  position: absolute;
  top: 18px;
  right: 18px;
  z-index: 200;
  width: 8px;
  height: 8px;
  border: 2px solid var(--color-font-select-text);
  border-top: 2px solid transparent;
  border-right: 2px solid transparent;
  transform: rotate(-45deg);
  transition: 0.5s;
  pointer-events: none;
}

.time-dropdown.active::before {
  top: 22px;
  transform: rotate(-225deg);
}

.country-dropdown.active::before {
  top: 22px;
  transform: rotate(-225deg);
}

.ingr-dropdown.active::before {
  top: 22px;
  transform: rotate(-225deg);
}

.time-text-box,
.country-text-box,
.ingr-text-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  cursor: pointer;
  background-color: transparent;
  font-size: 16px;
  outline: none;
  padding: 14px 36px 14px 18px;
  border-radius: 15px;
  border: 1px solid var(--color-border-select);

  color: var(--color-filters-text);
  font-family: Inter;
  line-height: 1.25;
}

.filter-time-dropbox,
.filter-country-dropbox,
.filter-ingr-dropbox {
  position: absolute;
  top: calc(100% + 4px);
  width: 100%;
  height: 128px;
  overflow: hidden;
  border-radius: 15px;
  transform: scaleY(0);
  opacity: 0;
  visibility: hidden;
}

.filter-country-dropbox,
.filter-ingr-dropbox {
  height: 188px;
}

.filter-time-list,
.filter-country-list,
.filter-ingr-list {
  width: 100%;
  height: 125px;

  background-color: var(--filters-color-table);
  box-shadow: 0 5px 20px var(--color-scroll-shadow);
  border-radius: 15px;
  border: 1px solid var(--color-scroll-shadow);

  overflow: auto;
  margin: 0;

  color: var(--color-font-select);
  font-family: Inter;
  line-height: 1.25;
}

.list-item {
  cursor: pointer;
  padding-left: 18px;
  padding-bottom: 8px;
}

.filter-country-list,
.filter-ingr-list {
  height: 188px;
}

.filter-time-list li:hover,
.filter-time-list li:focus {
  color: var(--color-filters-text);
  font-family: Inter;
  line-height: 1.25;
}

.filter-country-list li:hover,
.filter-country-list li:focus {
  color: var(--color-filters-text);
  font-family: Inter;
  line-height: 1.25;
}

.filter-ingr-list li:hover,
.filter-ingr-list li:focus {
  color: var(--color-filters-text);
  font-family: Inter;
  line-height: 1.25;
}

.filter-time-list::-webkit-scrollbar {
  width: 6px;
  border-radius: 12px;
  background: transparent;
  height: 69px;
}

.filter-country-list::-webkit-scrollbar {
  width: 6px;
  border-radius: 12px;
  background: transparent;
  height: 69px;
}

.filter-ingr-list::-webkit-scrollbar {
  width: 6px;
  border-radius: 12px;
  background: transparent;
  height: 69px;
}

.filter-time-list::-webkit-scrollbar-thumb {
  background-color: var(--color-scroll-filters);
}

.filter-country-list::-webkit-scrollbar-thumb {
  background-color: var(--color-scroll-filters);
}

.filter-ingr-list::-webkit-scrollbar-thumb {
  background-color: var(--color-scroll-filters);
}

.time-dropdown.active .filter-time-dropbox {
  opacity: 1;
  visibility: visible;
  transform: scaleY(1);
  z-index: 150;
}

.country-dropdown.active .filter-country-dropbox {
  opacity: 1;
  visibility: visible;
  transform: scaleY(1);
  z-index: 150;
}

.ingr-dropdown.active .filter-ingr-dropbox {
  opacity: 1;
  visibility: visible;
  transform: scaleY(1);
  z-index: 150;
}

.filter-reset-btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: transparent;

  color: var(--color-font-select-text);
  font-family: Inter;
  font-size: 12px;
  line-height: 1.33;
  margin-left: auto;

  margin-bottom: 14px;
}

.filter-reset {
  stroke: rgba(155, 181, 55, 1);
  width: 16px;
  height: 16px;
}
