/** @format */

.header {
  padding: 20px 0;
}

.container-header {
  max-width: 320px;
  padding-left: 5px;
  padding-right: 5px;
  margin: 0 auto;
}

@media screen and (min-width: 375px) {
  .container-header {
    max-width: 375px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .container-header {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .header {
    margin-bottom: 24px;
  }
}

@media screen and (min-width: 1280px) {
  .container-header {
    max-width: 1280px;
    padding-left: 100px;
    padding-right: 100px;
  }

  .header {
    margin-bottom: 14px;
  }
}

.nav-list {
  display: none;
}

@media screen and (min-width: 768px) {
  .nav-list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
  }
}

.nav-link {
  font-weight: 400;
  letter-spacing: 0.02em;
  line-height: 1.5;
  color: var(--color-black-font);
  font-size: 12px;
  line-height: 1.25;
}

@media screen and (min-width: 768px) {
  .nav-link {
    padding: 15px 0;
  }
}

@media screen and (min-width: 1280px) {
  .nav-link {
    padding: 20px 0;
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 18px;
}

.logo-header {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.12;
  letter-spacing: -0.64px;
  color: var(--color-green-button);
}

@media screen and (min-width: 768px) {
  .logo-header {
    font-size: 18px;
    line-height: 20px;
    line-height: 1.11;
    letter-spacing: -0.72px;
  }
}

.logo-color {
  color: var(--color-black-font);
}

.shopping-link {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.shopping-icon {
  fill: none;
  stroke: var(--color-black-font);
}

.shopping-icon:hover,
.shopping-icon:focus {
  fill: none;
  stroke: var(--color-green-button);
}

.burger-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  padding: 0;
}

@media screen and (min-width: 767px) {
  .burger-menu {
    display: none;
  }
}

.burger-menu-icon {
  width: 32px;
  height: 32px;
  fill: var(--color-black-font);
}

.burger-menu-icon:hover,
.burger-menu-icon:focus {
  fill: var(--color-green-button);
}

.header-btn-box {
  display: flex;
  align-items: center;
  gap: 14px;
}

@media screen and (min-width: 768px) {
  .header-btn-box {
    gap: 18px;
  }
}

.input-switcher[type='checkbox'] {
  height: 0;
  width: 0;
  visibility: hidden;
  display: none;
}

.menu-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40px;
  min-width: 40px;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: var(--color-switch-background);
}

.menu-container {
  position: fixed;
  width: 40%;
  min-width: 220px;
  height: 100%;
  top: 0;
  right: 0;
  padding-top: 200px;
  overflow-y: auto;
  opacity: 0;
  visibility: hidden;
  background-color: var(--color-menu-burger);
  z-index: 999;
  transition: opacity 250ms ease-in-out, visibility 250ms ease-in-out,
    transform 250ms ease-in-out;
  transform: translateX(-100%);
}

.menu-container.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: translateX(0);
}

.block {
  overflow: hidden;
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: var(--color-in-favorits);
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.mobile-menu .nav-link {
  display: block;
  padding: 0 50px 16px 50px;
  color: var(--color-in-favorits);
  text-decoration: none;
  text-align: center;
}

.mobile-menu .current-mob {
  color: var(--color-in-favorits);
}

.current-mob:hover,
.current-mob:focus {
  color: var(--color-hover);
}

.theme-switcher.burger {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

@media screen and (min-width: 375px) {
  .logo-header {
    padding: 10px 0;
  }
}

@media screen and (max-width: 767px) {
  .theme-switcher.main {
    display: none;
  }

  .header {
    margin-bottom: 44px;
  }
}

@media screen and (min-width: 768px) {
  .theme-switcher {
    height: 20px;
  }

  .current {
    color: var(--color-green-button);
    font-weight: 500;
  }

  .shopping-icon {
    transition: stroke 250ms ease-in-out;
  }
}

@media screen and (min-width: 768px) {
  .container-header {
    width: 1280px;
  }

  .logo-header {
    padding: 20px 0;
  }

  .switch {
    display: block;
    padding-top: -25px;
    position: relative;
    width: 46px;
    height: 20px;
  }

  @media screen and (max-width: 767px) {
    .switch {
      display: none;
    }
  }

  .switch-input {
    height: 0;
    width: 0;
    opacity: 0;
    border-radius: 35px;
  }

  .switch-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 46px;
    height: 20px;
    border-radius: 60px;
    box-shadow: 7px 5px 15px 0px rgba(160, 158, 160, 0.4);
    background-color: #cecdcd;
    transition: 0.4s;
  }

  .switch-slider::before,
  .burger-switch-slider::before {
    content: '';
    position: absolute;
    cursor: pointer;
    right: 0.6px;
    left: 0.6px;
    bottom: 0.6px;
    height: 18.8px;
    width: 18.8px;
    border-radius: 50%;
    color: rgba(248, 248, 248);
    background-color: rgb(243, 243, 243);
    box-shadow: 7px 5px 15px 0px rgba(160, 158, 160, 0.4);
    transition: 0.4s;
  }

  .switch-input:focus + .switch-slider {
    box-shadow: 0 0 1px rgb(177, 177, 174);
  }

  .switch-input:checked + .switch-slider {
    background-color: var(--color-green-button);
  }

  .switch-input:checked + .switch-slider::before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
}
@media screen and (max-width: 320px) {
  .js-swither.left-bottom-align {
    display: block;
  }
}

.left-bottom-align {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.burger-switch {
  display: block;
  padding-top: -25px;
  position: relative;
  width: 46px;
  height: 20px;
}

.burger-switch-input {
  height: 0;
  width: 0;
  opacity: 0;
  border-radius: 35px;
  color: rgba(248, 248, 248);
}

.burger-switch-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 46px;
  height: 20px;
  border-radius: 60px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: var(--color-btn-modal);
  color: rgba(248, 248, 248);
  transition: 0.4s;
}

.burger-switch-input:focus + .burger-switch-slider {
  box-shadow: 0 0 1px rgb(177, 177, 174);
}

.burger-switch-input:checked + .burger-switch-slider {
  background-color: var(--color-btn-modal);
}

.burger-switch-input:checked + .burger-switch-slider::before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.burger-switch-slider::before {
  content: '';
  position: absolute;
  cursor: pointer;
  right: 0.6px;
  left: 0.6px;
  bottom: 0.6px;
  height: 18.8px;
  width: 18.8px;
  border-radius: 50%;
  color: rgba(248, 248, 248);
  background-color: rgb(243, 243, 243);
  box-shadow: 7px 5px 15px 0px rgba(160, 158, 160, 0.4);
  transition: 0.4s;
}
