/**
  |============================
  | Hero section
  |============================
*/

.hero-section {}

.hero-container {
    min-width: 320px;
    padding-left: 5px;
    padding-right: 5px;
    margin: 0 auto;
}

@media screen {}


.hero-title {
    color: #050505;
    font-family: Inter;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.2;
    text-transform: uppercase;
    margin-bottom: 14px;
    text-align: left;
    max-width: 335px;
}

.hero-title-highlight {
    color: #9BB537;
    font-style: italic;
    font-weight: 400;
    line-height: 1.2;
}

.hero-desc {
    color: #050505;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    text-align: justify;
    max-width: 335px;
    margin-bottom: 28px;
}

.hero-btn {
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    padding: 10px 20px;
    min-width: 111px;
    min-height: 37px;
    margin-bottom: 48px;

    border-radius: 15px;
    border: 1px solid #9BB537;
    cursor: pointer;
}


.hero-btn:hover,
.hero-btn:focus {
    background-color: var(--color-green-button);
    color: var(--color-font-background);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (hover:hover) {

    .hero-btn:hover,
    .hero-btn:focus {
        /* color: white; */
    }
}

@media not (hover:hover) {
    .hero-btn:active {
        /* color: black; */
    }
}


.right-container {
    margin-bottom: 80px;
    min-width: 335px;
    min-height: 302px;
}