/**
 * MOBILE FIRST
 *
 * @format
 */

.hero-section {
	padding-left: 20px;
	padding-right: 20px;
	margin-bottom: 62px;
	overflow: hidden;
}

.slider-cook-img {
	min-width: 80px;
	min-height: 280px;
	background-color: black;

	background-size: cover;
	background-position: 50% 50%;
	border-radius: 15px;
}

.slider-dish-fullscreen {
	max-width: 222px;
	max-height: 280px;
	border-radius: 15px;
	background-color: black;
	background-size: auto;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
.dish-slider {
	width: 300px;
	overflow: hidden;
}

.slider-dish-container {
	min-width: 200px;
	min-height: 280px;
	background-color: black;
	padding-top: 56px;
	display: flex;
	flex-direction: column;

	justify-content: center;
	background: radial-gradient(circle at center, #9bb537 0, 5%, #000000);
	border-radius: 15px;
	padding-bottom: 14px;
}

.slider-dish-container img {
	margin: 0 auto;
	margin-bottom: 20px;
	width: 157px;
	height: 142px;
}

.slider-dish-container h2 {
	color: rgba(248, 248, 248, 0.6);
	text-align: center;
	font-family: Inter;
	font-size: 10px;
	font-style: normal;
	font-weight: 500;
	line-height: 14px; /* 140% */
	text-transform: uppercase;
	margin: 0 auto;
	margin-bottom: 8px;
	max-width: 157px;
}
.hero-title {
	max-width: 320px;
}
.hero-desc {
	max-width: 280px;
}
.slider-dish-container p {
	color: rgba(248, 248, 248, 0.2);
	text-align: center;
	font-family: Inter;
	font-size: 8px;
	font-style: normal;
	font-weight: 400;
	line-height: 12px;
}

.slider-dish-fullscreen {
	min-width: 222px;
	min-height: 280px;
	background-size: cover;
	border-radius: 15px;
}

.swiper-pagination {
	position: static;
	margin-top: 20px;
}
.swiper-pagination-bullet-active {
	--swiper-theme-color: #9bb537;
}

@media only screen and (min-width: 375px) {
	/* for hero text*/

	.hero-section {
		padding-left: 20px;
		padding-right: 20px;
		margin-bottom: 62px;
	}
	.hero-title {
		color: #050505;
		font-family: Inter;
		font-size: 26px;
		font-style: normal;
		font-weight: 600;
		line-height: 1.2; /* 31.2px */
		text-transform: uppercase;
	}
	.hero-title-highlight {
		color: #9bb537;
		font-family: Inter;
		font-size: 26px;
		font-style: italic;
		font-weight: 400;
		line-height: 1.2;
		text-transform: uppercase;
	}
	.hero-desc {
		max-width: 335px;
		color: #050505;
		font-family: Inter;
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: 18px;
	}

	/* for slider */

	.dish-slider {
		width: 355px;
		overflow: hidden;
	}
	.slider-cook-img {
		min-width: 80px;
		min-height: 280px;
	}

	.slider-dish-container {
		min-width: 200px;
		min-height: 280px;
	}
	.slider-dish-fullscreen {
		max-width: 200px;
		max-height: 280px;
	}
	.slider-dish-container img {
		max-width: 304px;
		max-height: 271px;
	}
}

@media only screen and (min-width: 768px) {
	.hero-container {
		flex-direction: column;
		gap: 0;
	}
	.slide-container {
		max-width: 768px;
	}
	.dish-slider {
		min-width: 768px;
	}
	.hero-title {
		color: #050505;
		font-family: Inter;
		font-size: 36px;
		font-style: normal;
		font-weight: 600;
		line-height: 120%; /* 43.2px */
		text-transform: uppercase;
	}
	.hero-title-highlight {
		color: #9bb537;
		font-family: Inter;
		font-size: 36px;
		font-style: italic;
		font-weight: 400;
		line-height: 120%;
		text-transform: uppercase;
	}
	.hero-btn {
		margin-bottom: 63px;
	}
	.slider-cook-img {
		min-width: 137px;
		min-height: 442px;
	}
	.slider-dish-container {
		min-width: 351px;
		min-height: 442px;
		padding-top: 67px;
	}
	.slider-dish-fullscreen {
		min-width: 351px;
		min-height: 442px;
	}
	.slider-dish-container img {
		min-width: 304px;
		min-height: 271px;
		margin-bottom: 32px;
	}
	.slider-dish-container h2 {
		color: rgba(248, 248, 248, 0.6);
		text-align: center;
		font-family: Inter;
		font-size: 14px;
		font-style: normal;
		font-weight: 500;
		line-height: 18px;
		text-transform: uppercase;
		margin: 0 auto;
		margin-bottom: 8px;
		max-width: 304px;
	}

	.slider-dish-container p {
		color: rgba(248, 248, 248, 0.2);
		text-align: center;
		font-family: Inter;
		font-size: 12px;
		font-style: normal;
		font-weight: 400;
		line-height: 14px;
	}
}

@media only screen and (min-width: 1280px) {
	.slide-container {
		max-width: 1280px;
		margin: 0 auto;
	}
	.hero-section {
		max-width: 1280px;
		overflow: hidden;
	}
	.dish-slider {
		max-width: 690px;
	}
	.hero-container {
		flex-direction: row;
		gap: 37px;
	}
	.hero-title {
		min-width: 446px;
	}
	.slider-dish-container {
		max-width: 351px;
		max-height: 442px;
	}
}
