/**
 * |============================
 *   | include css partials with
 *   | default @import url()
 *   |============================
 *
 * @format
 */

@import url('./reset.css');
@import url('./header.css');
@import url('./modal-order.css');
@import url('./component/recipe-item.css');
@import url('./favorites.css');
@import url('./component/button.css');
@import url('./recipe-full.css');
@import url('./component/recipe-list.css');
@import url('./hero.css');
@import url('./popular.css');
@import url('./categories.css');
@import url('./main.css');
@import url('./filters.css');
@import url('./main-slider.css');
@import url('./component/scroll-to-top.css');

:root {
  --color-font-background: rgba(248, 248, 248, 1);
  --color-like: rgba(238, 161, 12, 1);
  --color-black-font: rgba(5, 5, 5, 1);
  --color-font-select: rgba(5, 5, 5, 0.3);
  --color-green-button: rgba(155, 181, 55, 1);
  --color-font-select-text: rgba(5, 5, 5, 0.5);
  --gradient-recipe-item: rgba(5, 5, 5, 1), rgba(5, 5, 5, 0);
  --color-like-noact: rgba(248, 248, 248, 0.1);
  --color-border-select: rgba(5, 5, 5, 0.2);
  --color-font-popular-recipe: rgba(5, 5, 5, 0.8);
  --color-in-favorits: rgba(255, 255, 255, 1);
  --color-scrol-filter: rgba(5, 5, 5, 0.1);
  --color-pagintion: rgba(248, 248, 248, 0.5);
  --color-scroll-categories: rgba(5, 5, 5, 0.18);
  --color-gradient-hero-img: rgba(155, 181, 55, 0.3);
  --color-switch-background: rgba(206, 205, 205, 1);
  --color-font-hero-img: rgba(248, 248, 248, 0.6);
  --color-font-hero-location: rgba(248, 248, 248, 0.2);
  --color-scroll-filters: rgba(5, 5, 5, 0.1);
  --color-scroll-shadow: rgba(0, 0, 0, 0.02);
  --color-black-btn: rgba(5, 5, 5, 1);
  --color-white: rgb(248, 248, 248);
  --color-rating-number: rgb(248, 248, 248);
  --color-filters-text: rgba(5, 5, 5, 1);
  --filters-color-table: rgba(255, 255, 255, 1);
  --color-star: rgba(217, 217, 217);
  --color-menu-burger: rgba(155, 181, 55, 1);
  --color-btn-modal: rgba(206, 205, 205);
  --color-hover: rgba(255, 255, 255, 1);

  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 14px;
  font-weight: 400;
  background-color: var(--color-font-background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

:root[data-theme='dark'] {
  --color-font-background: rgb(22, 22, 22);
  --color-green-button: rgb(5, 5, 5);
  --gradient-recipe-item: rgb(255, 255, 255);
  --color-black-font: rgb(255, 255, 255);
  --color-font-select-text: rgba(255, 255, 255, 0.5);
  --color-font-select: rgba(255, 255, 255, 0.3);
  --color-scroll-categories: rgba(255, 255, 255, 0.18);
  --color-green-button: rgba(155, 181, 55, 1);
  --color-font-popular-recipe: rgba(255, 255, 255, 0.8);
  --color-black-btn: rgba(5, 5, 5, 1);
  --color-border-select: rgba(255, 255, 255, 0.2);
  --color-white: rgb(255, 255, 255);
  --color-rating-number: rgba(255, 255, 255, 0.5);
  --color-filters-text: rgba(255, 255, 255, 1);
  --filters-color-table: rgba(5, 5, 5, 1);
  --color-menu-burger: rgba(5, 5, 5, 1);
  --color-btn-modal: rgba(155, 181, 55, 1);
  --color-hover: rgba(155, 181, 55, 1);
  --color-star: rgba(60, 59, 59, 1);
}

body {
  user-select: none;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  background-color: var(--color-font-background);
  position: relative;
}

.container {
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

@media screen and (max-width: 767px) {
  .container {
    width: 375px;
    padding: 0 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .container {
    width: 768px;
    padding: 0 32px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding: 0 100px;
  }
}
