:root {
  --green: #9bb537;
  --btn-stroke: rgba(5, 5, 5, 0.3);
}

.pagination-btns {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.pagination-btn {
  font-size: 18px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: none;
}

.arrow-btn {
  background-color: var(--green);
  color: black;
}
.arrow-btn:disabled {
  background-color: black;
  color: white;
}
.forward-btns,
.back-btns,
.range-btns {
  display: flex;
  gap: 8px;
}
.number-btn {
  border: 1px solid var(--btn-stroke);
  background-color: transparent;
}
.current-number-btn {
  background-color: var(--green);
  color: black;
}
