:root {
  --green: #9bb537;
  --btn-stroke: rgba(5, 5, 5, 0.3);
}

.pagination-btns {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.pagination-btn {
  font-size: 18px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: none;
}

.arrow-btn {
  position: relative;
  background-color: var(--green);
  color: black;
}
.arrow-btn:disabled {
  background-color: black;
  color: white;
  fill: beige;
  cursor: default;
}

.right-arrow-icon,
.left-arrow-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.double-arrow {
  position: relative;
  width: 100%;
  height: 100%;
}
.icon-double-arrow-one {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-65%, -50%);
}
.icon-double-arrow-two {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-35%, -50%);
}
.forward-btns,
.back-btns,
.range-btns {
  display: flex;
  gap: 8px;
}
.number-btn {
  border: 1px solid var(--btn-stroke);
  background-color: transparent;
}
.current-number-btn {
  background-color: var(--green);
  color: black;
  cursor: default;
}

.dot-btn {
  cursor: default;
}
.recipe-cards {
  display: flex;
  flex-wrap: wrap;
  align-content: start;
  row-gap: 20px;
  column-gap: 16px;
  margin-bottom: 64px;
}

@media screen and (min-width: 1280px) {
  .recipe-cards {
    min-height: 901px;
  }
}
